{% extends "blog/layout.html" %}
{% block title %}index{% endblock %}
{% block body %}
{% include "navbar.html" %}
<div class="container">
  <div class="row">
    <div class="col-12 col-md-7">
      <img style="width:100%; height:90%"src="/static/sea.jpg" alt="">
    </div>
    <div class="col-6 col-md-5">
      <div class="text-info rounded bg-white">
      <h1 class="display-4">Memorize trip</h1>
      <p class="lead my-3">
        여행을 기록하세요.<br>
        더 많은 것을 보고 느끼고 추억하게 되실거에요.<br>
      </p>
    </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-7">
          <hr />
          <div class="list">
            {% for post in posts  %}
              {% if post.image_thumbnail %}
              <img src="{{ post.image_thumbnail.url }}" class="post_image" width="100px" />
              {% endif %}
              <a href="{% url 'blog:post_detail' post.pk %}"><div>{{ post.title }}</div></a>
            {% endfor %}
          </div>
        </div>
      </div>
  </div>
</div>

{% endblock %}
